<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <h3>Welcome to Attribute-Based Enryption Attribute Authority Portal.</h3>
    <button onclick='window.location.href="/auth"'>Login with FI-WARE Account</button>
</body>
</html>